<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1459876947801-8879713c9b47?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);">
  <!-- Barre de recherche -->
  <div class="container text-center">
    <div class="search">
      <%= simple_form_for :games_filter, url: games_path(anchor:"game-list"), method: :get do |f| %>
        <%= f.input :search, label: false, value: params.dig(:games_filter, :search) %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="container text-center">
    <h1> <strong>GEEK HUB</strong></h1>
    <%= link_to "Sign Up", new_user_registration_path, class: "sign-up" %>
  </div>
</div>
