<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdna.artstation.com/p/assets/images/images/021/720/920/original/pixel-jeff-mario.gif?1572709433);">
  <div class="container">
    <h1> <strong>GEEK HUB</strong></h1>
  </div>
</div>
