<%= render 'shared/banner' %>
<div class="home">
  <div class="container">
    <div class="cards" id="game-list">
      <% @games.each do |game| %>
        <% if game.photo.attached? %>
          <%= link_to game_path(game) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path game.photo.key %>)">
              <%= game.name%>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class= "container apropos">
      <h2 class="text-center" id= "apropos">About us</h2>
      <hr>
      <p>Made by Leonard, Emmanuel, Mathieu, and Stephane for le Wagon !</p>
    </div>
    <div class="container contact">
      <h2 class="text-center" id="contact">Contact us</h2>
    </div>
    <hr>
    <form class= "container contact">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
        <small id="message" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="textarea">Message</label>
        <textarea type="textarea" class="form-control" placeholder="Enter message" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
