.apropos h2 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  background-color: #fecd1a;
  width: 200px;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact h2 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  background-color: #fecd1a;
  width: 200px;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 70px;
}
