.btn-sign {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  background: #9d0191;
  transition: background 0.3s ease;
  font-size: 24px;
  border: 2px solid white;
}

.btn-sign:hover {
  background: #9d0191;
  color: white;
}

.btn-warning {
  margin-top: 10px;
  margin-bottom: 16px;
  background : #fecd1a;
  border-radius: 15px;
}

.btn-warning:hover {
  background : #fecd1a;
}

.btn-row {
 display:flex;
  justify-content: space-between;
}

.btn-row .btn-sign {
	margin-top: 10px;
}
