.btn-buy,
.btn-edit {
  font-size: 24px;
  padding: 8px 8px;
  border-radius: 15px;
  background: #9d0191;
  transition: background 0.3s ease;
  border: 2px solid white;
  text-align: center;
}

.btn-buy:hover,
.btn-edit:hover {
  background: #fecd1a;
}
.btn-buy a:hover,
.btn-edit a:hover {
  color: blue;
}
.edit-offer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 35px;
}

.btn-edit {
  width: 180px;
}

.btn-buy {
  width: 100px;
}

.btn-buy a,
.btn-edit a {
  text-decoration: none;
  color: white;
}

.one-game {
  max-width: 700px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.sign-up {
  font-size: 24px;
  padding: 10px 10px;
  border-radius: 15px;
  background: #9d0191;
  border: 2px solid white;
  text-align: center;
}
.banner a {
  text-decoration: none;
  color: white;
}
