.contact {
  max-width: 600px;
}

.form-group input {
  border-radius: 10px;
}

.contact button {
  border-radius: 10px;
  background-color: #9d0191;
  border: none;
}

.login {
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login .form-actions {
  border-radius: 10px;
  background-color: #9d0191;
  width: 80px;
  margin-bottom: 25px;
  text-align: center;
}

.login .form-actions:hover {
  background-color: rgb(63, 45, 126);
}

.login .form-actions input {
  color: white;
}

.signup {
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.signup .form-actions {
  border-radius: 10px;
  background-color: #9d0191;
  width: 80px;
  margin-bottom: 25px;
  text-align: center;
}

.signup .form-actions:hover {
  background-color: rgb(63, 45, 126);
}

.signup .form-actions input {
  color: white;
}

.edit {
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.edit .form-actions {
  border-radius: 10px;
  background-color: #9d0191;
  width: 80px;
  margin-bottom: 25px;
  text-align: center;
}
.edit .form-actions input {
  color: white;
}

.game {
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.game .form-actions input {
  color: white;
  border-radius: 10px;
  background-color: #9d0191;
  width: 120px;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  border: none;
  padding: 10px;
}

.game .form-actions input:hover {
  background-color: rgb(63, 45, 126);
}

.edit-game {
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.edit-game .form-actions input {
  color: white;
  border-radius: 10px;
  background-color: #9d0191;
  width: 120px;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  border: none;
  padding: 10px;
}

.edit-game .form-actions input:hover {
  background-color: rgb(63, 45, 126);
}
