.navbar-lewagon {
  background: #120078;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.align-left {
  display: flex;
  align-items: left;
}

.navbar-lewagon .navbar-brand {
  background: #fd3a69;
  padding: 10px;
  margin: 10px;
  width: 140px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.nav-item .nav-log {
  justify-content: end;
  background: #fd3a69;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.welcome {
  color: white;
  width: 40px;
  position: relative;
  top: 0px;
  right: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 392px) {
  .navbar-lewagon .navbar-brand {
    padding: 6px;
    margin: 6px;
    width: 85px;
    border-radius: 10px;
    font-size: 15px;
  }
}

@media (min-width: 392px) and (max-width: 590px) {
  .navbar-lewagon .navbar-brand {
    padding: 7px;
    margin: 7px;
    width: 110px;
    border-radius: 10px;
    font-size: 15px;
  }
}
